##=================================#
## MYSQL Database configuration #
##=================================#

DATABASE_URL="mysql://admin:adminpassword@localhost:3306/filrouge2024?schema=public"
DB_NAME="filrouge2024"
DB_USER="admin"
DB_PASSWORD="adminpassword"

SERVER_PORT=3306

##================================#
## IDENTITY ACCESS AND MANAGEMENT #
##================================#
NODE_ENV="development"


AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# When deploying to production, set this to your production URL (AuthJS will use this to dynamically generate redirect URLs)
NEXTAUTH_URL="http://localhost:3000" 
NEXT_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# generated with openssl rand -base64 33 in power shell command line

AUTH_SECRET=


##================================#
## EMAIL SERVER CONFIGURATION     #
##================================#
EMAIL_FROM="noreply@eventhub.com"
EMAIL_SERVER_HOST="smtp.gmail.com"
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=

