@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1.2rem;
}

/* used to disable the scroll on the page when the modal is open */
.no-scroll {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.soft-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: dark-greenLight light-blue;
}
.soft-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.soft-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.soft-scrollbar::-webkit-scrollbar-thumb {
  background-color: dark-greenLight;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}
footer a:hover {
  @apply text-light-blue dark:text-dark-yellow;
}

/* ========== Home page scroll animation ========== */

/* can't use this animation with tailwind besause animation-timeline is not suported by tailwind */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}

.animate h1,
.animate div,
.animate a {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
  animation-fill-mode: both;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
}

/* ============ SVG styles ============= */

/* used to change the color of the svg images acording to the theme (only solution to evit 'use client') */

/* homeImage (first section of the page)*/
.path-home-image {
  @apply fill-light-blue dark:fill-dark-green;
}
/* Messages default page image */
#default_message_image .color_1,
#default_message_image .color_3 {
  @apply fill-light-blue dark:fill-dark-green;
}
#default_message_image .color_2 {
  @apply fill-dark-bg/50 dark:fill-dark-greenLight/50;
}
/* Slider images */

/* messagesImage */
.message_border {
  @apply fill-dark-grey dark:fill-[#3F3D56];
}
.colored_line_message,
.t_shirt_person {
  @apply fill-light-blue dark:fill-dark-green;
}
/* reviewImage */
.comment_container,
.empty_start {
  @apply fill-dark-bg dark:fill-dark-greenLight;
}
.comment_line {
  @apply fill-dark-bg dark:fill-[#3F3D56];
}
/* calendarImage */
.calendar_border,
.calendar_controls {
  @apply fill-dark-bg dark:fill-dark-greenLight;
}
.circle_colored,
.icon_plus,
.t_shirt_person {
  @apply fill-light-blue dark:fill-dark-green;
}
/* eventsImage */
#eventsImage .color_1 {
  @apply fill-[#59585d] dark:fill-dark-green;
}
#eventsImage .color_2 {
  @apply fill-light-blue dark:fill-light-red;
}
/* securityImage */
#securityImage .color_1 {
  @apply fill-light-red dark:fill-dark-green;
}
#securityImage .color_2 {
  @apply fill-light-ciel dark:fill-dark-grey;
}
#securityImage .color_3 {
  @apply fill-dark-bg dark:fill-dark-greenLight;
}
